services:
  - type: web
    name: telegram-forward-bot
    env: python
    region: frankfurt
    buildCommand: pip install -r requirements.txt
    startCommand: python app.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: PORT
        value: 10000
    healthCheckPath: /health
    autoDeploy: true
    plan: free
