services:
  - type: web
    name: telegram-group-forward-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
    healthCheckPath: /
    autoDeploy: true
    plan: free
